In [3]:
import pandas as pd
import numpy as nm
from sklearn.preprocessing import Imputer

df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data", delim_whitespace = True, header=None, 
               names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car_name'] )
print(df)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8         307.0      130.0  3504.0          12.0     70
1    15.0          8         350.0      165.0  3693.0          11.5     70
2    18.0          8         318.0      150.0  3436.0          11.0     70
3    16.0          8         304.0      150.0  3433.0          12.0     70
4    17.0          8         302.0      140.0  3449.0          10.5     70
5    15.0          8         429.0      198.0  4341.0          10.0     70
6    14.0          8         454.0      220.0  4354.0           9.0     70
7    14.0          8         440.0      215.0  4312.0           8.5     70
8    14.0          8         455.0      225.0  4425.0          10.0     70
9    15.0          8         390.0      190.0  3850.0           8.5     70
10   15.0          8         383.0      170.0  3563.0          10.0     70
11   14.0          8         340.0      160.0  3609.0           8.0     70
12   15.0          8         400.0      150.0  3761.0           9.5     70
13   14.0          8         455.0      225.0  3086.0          10.0     70
14   24.0          4         113.0      95.00  2372.0          15.0     70
15   22.0          6         198.0      95.00  2833.0          15.5     70
16   18.0          6         199.0      97.00  2774.0          15.5     70
17   21.0          6         200.0      85.00  2587.0          16.0     70
18   27.0          4          97.0      88.00  2130.0          14.5     70
19   26.0          4          97.0      46.00  1835.0          20.5     70
20   25.0          4         110.0      87.00  2672.0          17.5     70
21   24.0          4         107.0      90.00  2430.0          14.5     70
22   25.0          4         104.0      95.00  2375.0          17.5     70
23   26.0          4         121.0      113.0  2234.0          12.5     70
24   21.0          6         199.0      90.00  2648.0          15.0     70
25   10.0          8         360.0      215.0  4615.0          14.0     70
26   10.0          8         307.0      200.0  4376.0          15.0     70
27   11.0          8         318.0      210.0  4382.0          13.5     70
28    9.0          8         304.0      193.0  4732.0          18.5     70
29   27.0          4          97.0      88.00  2130.0          14.5     71
..    ...        ...           ...        ...     ...           ...    ...
368  27.0          4         112.0      88.00  2640.0          18.6     82
369  34.0          4         112.0      88.00  2395.0          18.0     82
370  31.0          4         112.0      85.00  2575.0          16.2     82
371  29.0          4         135.0      84.00  2525.0          16.0     82
372  27.0          4         151.0      90.00  2735.0          18.0     82
373  24.0          4         140.0      92.00  2865.0          16.4     82
374  23.0          4         151.0          ?  3035.0          20.5     82
375  36.0          4         105.0      74.00  1980.0          15.3     82
376  37.0          4          91.0      68.00  2025.0          18.2     82
377  31.0          4          91.0      68.00  1970.0          17.6     82
378  38.0          4         105.0      63.00  2125.0          14.7     82
379  36.0          4          98.0      70.00  2125.0          17.3     82
380  36.0          4         120.0      88.00  2160.0          14.5     82
381  36.0          4         107.0      75.00  2205.0          14.5     82
382  34.0          4         108.0      70.00  2245.0          16.9     82
383  38.0          4          91.0      67.00  1965.0          15.0     82
384  32.0          4          91.0      67.00  1965.0          15.7     82
385  38.0          4          91.0      67.00  1995.0          16.2     82
386  25.0          6         181.0      110.0  2945.0          16.4     82
387  38.0          6         262.0      85.00  3015.0          17.0     82
388  26.0          4         156.0      92.00  2585.0          14.5     82
389  22.0          6         232.0      112.0  2835.0          14.7     82
390  32.0          4         144.0      96.00  2665.0          13.9     82
391  36.0          4         135.0      84.00  2370.0          13.0     82
392  27.0          4         151.0      90.00  2950.0          17.3     82
393  27.0          4         140.0      86.00  2790.0          15.6     82
394  44.0          4          97.0      52.00  2130.0          24.6     82
395  32.0          4         135.0      84.00  2295.0          11.6     82
396  28.0          4         120.0      79.00  2625.0          18.6     82
397  31.0          4         119.0      82.00  2720.0          19.4     82

     origin                           car_name
0         1          chevrolet chevelle malibu
1         1                  buick skylark 320
2         1                 plymouth satellite
3         1                      amc rebel sst
4         1                        ford torino
5         1                   ford galaxie 500
6         1                   chevrolet impala
7         1                  plymouth fury iii
8         1                   pontiac catalina
9         1                 amc ambassador dpl
10        1                dodge challenger se
11        1                 plymouth 'cuda 340
12        1              chevrolet monte carlo
13        1            buick estate wagon (sw)
14        3              toyota corona mark ii
15        1                    plymouth duster
16        1                         amc hornet
17        1                      ford maverick
18        3                       datsun pl510
19        2       volkswagen 1131 deluxe sedan
20        2                        peugeot 504
21        2                        audi 100 ls
22        2                           saab 99e
23        2                           bmw 2002
24        1                        amc gremlin
25        1                          ford f250
26        1                          chevy c20
27        1                         dodge d200
28        1                           hi 1200d
29        3                       datsun pl510
..      ...                                ...
368       1           chevrolet cavalier wagon
369       1          chevrolet cavalier 2-door
370       1         pontiac j2000 se hatchback
371       1                     dodge aries se
372       1                    pontiac phoenix
373       1               ford fairmont futura
374       1                     amc concord dl
375       2                volkswagen rabbit l
376       3                 mazda glc custom l
377       3                   mazda glc custom
378       1             plymouth horizon miser
379       1                     mercury lynx l
380       3                   nissan stanza xe
381       3                       honda accord
382       3                     toyota corolla
383       3                        honda civic
384       3                 honda civic (auto)
385       3                      datsun 310 gx
386       1              buick century limited
387       1  oldsmobile cutlass ciera (diesel)
388       1         chrysler lebaron medallion
389       1                     ford granada l
390       3                   toyota celica gt
391       1                  dodge charger 2.2
392       1                   chevrolet camaro
393       1                    ford mustang gl
394       2                          vw pickup
395       1                      dodge rampage
396       1                        ford ranger
397       1                         chevy s-10

[398 rows x 9 columns]

In [23]:
df.horsepower=df.horsepower.replace(to_replace='?', value=nm.NaN)
df['horsepower'] = df['horsepower'].astype(float)
#df.describe()
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  model  \
0    18.0          8         307.0       130.0  3504.0          12.0     70
1    15.0          8         350.0       165.0  3693.0          11.5     70
2    18.0          8         318.0       150.0  3436.0          11.0     70
3    16.0          8         304.0       150.0  3433.0          12.0     70
4    17.0          8         302.0       140.0  3449.0          10.5     70
5    15.0          8         429.0       198.0  4341.0          10.0     70
6    14.0          8         454.0       220.0  4354.0           9.0     70
7    14.0          8         440.0       215.0  4312.0           8.5     70
8    14.0          8         455.0       225.0  4425.0          10.0     70
9    15.0          8         390.0       190.0  3850.0           8.5     70
10   15.0          8         383.0       170.0  3563.0          10.0     70
11   14.0          8         340.0       160.0  3609.0           8.0     70
12   15.0          8         400.0       150.0  3761.0           9.5     70
13   14.0          8         455.0       225.0  3086.0          10.0     70
14   24.0          4         113.0        95.0  2372.0          15.0     70
15   22.0          6         198.0        95.0  2833.0          15.5     70
16   18.0          6         199.0        97.0  2774.0          15.5     70
17   21.0          6         200.0        85.0  2587.0          16.0     70
18   27.0          4          97.0        88.0  2130.0          14.5     70
19   26.0          4          97.0        46.0  1835.0          20.5     70
20   25.0          4         110.0        87.0  2672.0          17.5     70
21   24.0          4         107.0        90.0  2430.0          14.5     70
22   25.0          4         104.0        95.0  2375.0          17.5     70
23   26.0          4         121.0       113.0  2234.0          12.5     70
24   21.0          6         199.0        90.0  2648.0          15.0     70
25   10.0          8         360.0       215.0  4615.0          14.0     70
26   10.0          8         307.0       200.0  4376.0          15.0     70
27   11.0          8         318.0       210.0  4382.0          13.5     70
28    9.0          8         304.0       193.0  4732.0          18.5     70
29   27.0          4          97.0        88.0  2130.0          14.5     71
..    ...        ...           ...         ...     ...           ...    ...
368  27.0          4         112.0        88.0  2640.0          18.6     82
369  34.0          4         112.0        88.0  2395.0          18.0     82
370  31.0          4         112.0        85.0  2575.0          16.2     82
371  29.0          4         135.0        84.0  2525.0          16.0     82
372  27.0          4         151.0        90.0  2735.0          18.0     82
373  24.0          4         140.0        92.0  2865.0          16.4     82
374  23.0          4         151.0         NaN  3035.0          20.5     82
375  36.0          4         105.0        74.0  1980.0          15.3     82
376  37.0          4          91.0        68.0  2025.0          18.2     82
377  31.0          4          91.0        68.0  1970.0          17.6     82
378  38.0          4         105.0        63.0  2125.0          14.7     82
379  36.0          4          98.0        70.0  2125.0          17.3     82
380  36.0          4         120.0        88.0  2160.0          14.5     82
381  36.0          4         107.0        75.0  2205.0          14.5     82
382  34.0          4         108.0        70.0  2245.0          16.9     82
383  38.0          4          91.0        67.0  1965.0          15.0     82
384  32.0          4          91.0        67.0  1965.0          15.7     82
385  38.0          4          91.0        67.0  1995.0          16.2     82
386  25.0          6         181.0       110.0  2945.0          16.4     82
387  38.0          6         262.0        85.0  3015.0          17.0     82
388  26.0          4         156.0        92.0  2585.0          14.5     82
389  22.0          6         232.0       112.0  2835.0          14.7     82
390  32.0          4         144.0        96.0  2665.0          13.9     82
391  36.0          4         135.0        84.0  2370.0          13.0     82
392  27.0          4         151.0        90.0  2950.0          17.3     82
393  27.0          4         140.0        86.0  2790.0          15.6     82
394  44.0          4          97.0        52.0  2130.0          24.6     82
395  32.0          4         135.0        84.0  2295.0          11.6     82
396  28.0          4         120.0        79.0  2625.0          18.6     82
397  31.0          4         119.0        82.0  2720.0          19.4     82

     origin                           car_name
0         1          chevrolet chevelle malibu
1         1                  buick skylark 320
2         1                 plymouth satellite
3         1                      amc rebel sst
4         1                        ford torino
5         1                   ford galaxie 500
6         1                   chevrolet impala
7         1                  plymouth fury iii
8         1                   pontiac catalina
9         1                 amc ambassador dpl
10        1                dodge challenger se
11        1                 plymouth 'cuda 340
12        1              chevrolet monte carlo
13        1            buick estate wagon (sw)
14        3              toyota corona mark ii
15        1                    plymouth duster
16        1                         amc hornet
17        1                      ford maverick
18        3                       datsun pl510
19        2       volkswagen 1131 deluxe sedan
20        2                        peugeot 504
21        2                        audi 100 ls
22        2                           saab 99e
23        2                           bmw 2002
24        1                        amc gremlin
25        1                          ford f250
26        1                          chevy c20
27        1                         dodge d200
28        1                           hi 1200d
29        3                       datsun pl510
..      ...                                ...
368       1           chevrolet cavalier wagon
369       1          chevrolet cavalier 2-door
370       1         pontiac j2000 se hatchback
371       1                     dodge aries se
372       1                    pontiac phoenix
373       1               ford fairmont futura
374       1                     amc concord dl
375       2                volkswagen rabbit l
376       3                 mazda glc custom l
377       3                   mazda glc custom
378       1             plymouth horizon miser
379       1                     mercury lynx l
380       3                   nissan stanza xe
381       3                       honda accord
382       3                     toyota corolla
383       3                        honda civic
384       3                 honda civic (auto)
385       3                      datsun 310 gx
386       1              buick century limited
387       1  oldsmobile cutlass ciera (diesel)
388       1         chrysler lebaron medallion
389       1                     ford granada l
390       3                   toyota celica gt
391       1                  dodge charger 2.2
392       1                   chevrolet camaro
393       1                    ford mustang gl
394       2                          vw pickup
395       1                      dodge rampage
396       1                        ford ranger
397       1                         chevy s-10

[398 rows x 9 columns]

In [47]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=1, copy=False)
clean_data = imp.fit(df['horsepower'])
df['horsepower'].ix[374].dtype
clean_data

Imputer(axis=1, copy=False, missing_values='NaN', strategy='mean', verbose=0)

In [41]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000