In [28]:
import pandas as pd
from sklearn.datasets import load_boston
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn import metrics

In [29]:
boston=load_boston()
df = pd.DataFrame(data=boston.data, columns = boston.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [30]:
df_scaled = pd.DataFrame(data=preprocessing.scale(boston.data), columns = boston.feature_names)
df_scaled.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.417713,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,-0.415269,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,-0.415272,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727
3,-0.414680,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517
4,-0.410409,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501

In [31]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [32]:
df_scaled.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,6.340997e-17,-6.343191e-16,-2.682911e-15,4.701992e-16,2.490322e-15,-1.145230e-14,-1.407855e-15,9.210902e-16,5.441409e-16,-8.868619e-16,-9.205636e-15,8.163101e-15,-3.370163e-16
std,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-4.177134e-01,-4.877224e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00
25%,-4.088961e-01,-4.877224e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01
50%,-3.885818e-01,-4.877224e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01
75%,6.248255e-03,4.877224e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,1.661245e+00,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01
max,9.941735e+00,3.804234e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,1.661245e+00,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00

In [33]:
df_true_labels = pd.DataFrame(data=boston.target, columns=['target'])

In [35]:
print(df_true_labels)

     target
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
5      28.7
6      22.9
7      27.1
8      16.5
9      18.9
10     15.0
11     18.9
12     21.7
13     20.4
14     18.2
15     19.9
16     23.1
17     17.5
18     20.2
19     18.2
20     13.6
21     19.6
22     15.2
23     14.5
24     15.6
25     13.9
26     16.6
27     14.8
28     18.4
29     21.0
..      ...
476    16.7
477    12.0
478    14.6
479    21.4
480    23.0
481    23.7
482    25.0
483    21.8
484    20.6
485    21.2
486    19.1
487    20.6
488    15.2
489     7.0
490     8.1
491    13.6
492    20.1
493    21.8
494    24.5
495    23.1
496    19.7
497    18.3
498    21.2
499    17.5
500    16.8
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9

[506 rows x 1 columns]

In [36]:
cluster_model_2 = KMeans(n_clusters=2, init='k-means++')
cluster_labels_2 = cluster_model_2.fit_predict(df_scaled)

cluster_model_3 = KMeans(n_clusters=3, init='k-means++')
cluster_labels_3 = cluster_model_3.fit_predict(df_scaled)

cluster_model_4 = KMeans(n_clusters=4, init='k-means++')
cluster_labels_4 = cluster_model_4.fit_predict(df_scaled)

cluster_model_5 = KMeans(n_clusters=5, init='k-means++')
cluster_labels_5 = cluster_model_5.fit_predict(df_scaled)

cluster_model_6 = KMeans(n_clusters=6, init='k-means++')
cluster_labels_6 = cluster_model_6.fit_predict(df_scaled)

In [37]:
silhouette_score_2 = metrics.silhouette_score(df_scaled, cluster_labels_2)
silhouette_score_3 = metrics.silhouette_score(df_scaled, cluster_labels_3)
silhouette_score_4 = metrics.silhouette_score(df_scaled, cluster_labels_4)
silhouette_score_5 = metrics.silhouette_score(df_scaled, cluster_labels_5)
silhouette_score_6 = metrics.silhouette_score(df_scaled, cluster_labels_6)

In [38]:
print (silhouette_score_2)
print (silhouette_score_3)
print (silhouette_score_4)
print (silhouette_score_5)
print (silhouette_score_6)

0.359977342374
0.261748115089
0.280818056241
0.287487114889
0.297920477551

In [39]:
print(df_true_labels['target'])

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
5      28.7
6      22.9
7      27.1
8      16.5
9      18.9
10     15.0
11     18.9
12     21.7
13     20.4
14     18.2
15     19.9
16     23.1
17     17.5
18     20.2
19     18.2
20     13.6
21     19.6
22     15.2
23     14.5
24     15.6
25     13.9
26     16.6
27     14.8
28     18.4
29     21.0
       ...
476    16.7
477    12.0
478    14.6
479    21.4
480    23.0
481    23.7
482    25.0
483    21.8
484    20.6
485    21.2
486    19.1
487    20.6
488    15.2
489     7.0
490     8.1
491    13.6
492    20.1
493    21.8
494    24.5
495    23.1
496    19.7
497    18.3
498    21.2
499    17.5
500    16.8
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: target, Length: 506, dtype: float64

In [41]:
h_score2 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_2)
c_score2 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_2)

h_score3 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_3)
c_score3 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_3)

h_score4 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_4)
c_score4 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_4)

h_score5 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_5)
c_score5 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_5)

h_score6 = metrics.homogeneity_score(df_true_labels['target'],
                                    cluster_labels_6)
c_score6 = metrics.completeness_score(df_true_labels['target'],
                                     cluster_labels_6)

print (h_score2, c_score2)
print (h_score3, c_score3)
print (h_score4, c_score4)
print (h_score5, c_score5)
print (h_score6, c_score6)

0.0795512108352 0.641175703038
0.127305364496 0.646504825459
0.151073991717 0.648431047678
0.173327859012 0.657269258253
0.194098534844 0.648833693972

In [42]:
df_scaled['class'] = cluster_labels_2
df_scaled.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,class
0,-0.417713,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,1
1,-0.415269,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,1
2,-0.415272,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1
3,-0.414680,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1
4,-0.410409,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1

In [43]:
import numpy as np

df_scaled_c0 = df_scaled.loc[df_scaled['class']==0]
df_scaled_c1 = df_scaled.loc[df_scaled['class']==1]
df_scaled_c2 = df_scaled.loc[df_scaled['class']==2]

df_scaled_c0.describe().transpose()['mean']
feature_c0 = np.array(df_scaled_c0.describe().transpose()['mean'], dtype=float)
feature_c1 = np.array(df_scaled_c1.describe().transpose()['mean'], dtype=float)
feature_c2 = np.array(df_scaled_c2.describe().transpose()['mean'], dtype=float)

print (feature_c0)
print (np.mean(feature_c0))
print (np.mean(feature_c1))
print (np.mean(feature_c2))

[ 0.72127012 -0.48772236  1.15311264 -0.00541237  1.086769   -0.45226302
  0.80876041 -0.8498651   1.0851445   1.1737306   0.53124811 -0.60679321
  0.82978746  0.        ]
0.356269056792
-0.120242015356
nan

In [44]:
print (cluster_model_2.cluster_centers_)

[[ 0.72127012 -0.48772236  1.15311264 -0.00541237  1.086769   -0.45226302
   0.80876041 -0.8498651   1.0851445   1.1737306   0.53124811 -0.60679321
   0.82978746]
 [-0.38803894  0.26239167 -0.62036759  0.00291182 -0.58467512  0.24331476
  -0.43510819  0.45722226 -0.58380115 -0.63145993 -0.28580826  0.32645106
  -0.44642061]]